<footer class="footer">
	<a href="https://github.com/web-standards/web-standards.dev">
		Source code
	</a>
	<a href="mailto:hi@web-standards.dev">
		hi@web-standards.dev
	</a>
	<a href="https://www.11ty.dev/">
		Powered by 11ty
	</a>
</footer>
