<header class="header">
	<a class="header__logo" href="/">
		<img
			class="header__image"
			src="/images/logo.svg"
			width="48" height="48"
			alt="Web Standards logo."
		>
		{% if page.url == '/' %}
			<h1 class="header__title">{{ meta.title }}</h1>
		{% else %}
			<p class="header__title">{{ meta.title }}</p>
		{% endif %}
		<p class="header__subtitle">{{ meta.subtitle }}</p>
	</a>
	<search-field
		class="header__search search"
		role="search"
		aria-label="News archive search"
	>
		<div class="search__panel">
			<input
				class="search__input"
				type="text"
				aria-expanded="false"
				aria-controls="search-results"
				role="combobox"
				autocomplete="off"
				autocapitalize="off"
				placeholder="Search archive"
			>
		</div>
	</search-field>
	<ul class="header__links">
		{% for link in social %}
		<li>
			<a
				data-social="{{ link.name | lower }}"
				href="{{ link.url }}"
				aria-label="{{ link.name }}"
				{{ ('rel="' + link.rel + '"') | safe if link.rel }}
			></a>
		</li>
		{% endfor %}
		<li><a data-social="rss" href="/feed/" aria-label="RSS feed"></a></li>
	</ul>
</header>
