{% macro newsCard(news) %}
	<article class="news-card">
		<img
			src="{{ news.url }}cover.avif"
			width="960" height="540"
			alt="{{ news.data.alt }}"
		>
		<h2>
			<a href="{{ news.url }}">
				{{- news.data.title -}}
			</a>
		</h2>
		<time datetime="{{ news.date | dateISO }}">
			{{- news.date | dateShort -}}
		</time>
	</article>
{% endmacro %}
