/* Archive */

.archive {
	display: grid;
	row-gap: 2rem;
	padding-block: 1.5rem 2rem;
	background-color: var(--color-background-secondary);
}

/* Section */

.archive__section {
	display: grid;
	row-gap: 1rem;
	padding-inline: max(
		1rem,
		calc((100vw - 1200px) / 2)
	);

	&:not(:last-child) {
		padding-bottom: 2.5rem;
		border-bottom: 1px solid var(--color-border-secondary);
	}
}

/* Header */

.archive__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	font-stretch: expanded;
}

/* Title */

.archive__title {
	margin: 0;
	font-size: 2rem;
}

/* Link */

.archive__link {
	color: var(--color-text-action);
	text-decoration: none;
	font-size: 1.5rem;

	&:hover {
		color: var(--color-text-action-hover);
	}
}
