/* Content */

.content {
	display: grid;
	row-gap: 1rem;
	max-width: 70ch;
	text-wrap: pretty;
	line-height: 1.75;

	p {
		margin: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li::before {
			content: '–';
		}
	}

	a {
		color: var(--color-text-action);

		&:hover {
			color: var(--color-text-action-hover);
		}
	}

	code {
		padding-inline: 0.25em;
		border-radius: 0.25rem;
		background-color: var(--color-background-tertiary);
		font-family: var(--font-family-code);
	}
}
