/* Content */

.content {
	display: grid;
	row-gap: 1rem;
	max-width: 70ch;
	text-wrap: pretty;
	line-height: 1.75;

	p {
		margin: 0;
	}

	a {
		color: var(--color-text-action);
	}

	code {
		padding-inline: 0.25em;
		border-radius: 0.25rem;
		background-color: var(--color-background-secondary);
		font-family: var(--font-family-code);
	}
}
