/* Blocks */

@import 'page.css';
@import 'header.css';
@import 'main.css';
@import 'news-list.css';
@import 'news-card.css';
@import 'news.css';
@import 'related.css';
@import 'pagination.css';
@import 'content.css';
@import 'footer.css';
