/* Blocks */

@import 'page.css';
@import 'header.css';
@import 'main.css';
@import 'news-list.css';
@import 'news-card.css';
@import 'news-article.css';
@import 'archive.css';
@import 'not-found.css';
@import 'pagination.css';
@import 'content.css';
@import 'content-inline.css';
@import 'search.css';
@import 'footer.css';
