/* News List */

.news-list {
	display: grid;
	grid-template-columns: repeat(
		auto-fill, minmax(288px, 1fr)
	);
	align-items: start;
	row-gap: 2.5rem;
	column-gap: 1rem;
	margin: 0;
	padding: 0;
	list-style: none;

	/* cards (288px x 4) + gaps (16px x 5) = 1232px */

	@media (width < 1232px) {
		&[data-size='8'] {
			& > :nth-last-child(-n+2) {
				display: none;
			}
		}
	}
}

/* Item */

.news-list__item {
	display: contents;
}
