/* News */

.news-article {
	display: grid;
	row-gap: 1rem;

	@media (width >= 1024px) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'header  cover'
			'content cover'
			'tags    cover';
		column-gap: 1rem;
	}
}

/* Header */

.news-article__header {
	display: grid;
	row-gap: 0.25rem;

	@media (width >= 1024px) {
		grid-area: header;
	}
}

/* Title */

.news-article__title {
	margin: 0;
	text-wrap: balance;
	font-size: 2rem;
	font-stretch: expanded;

	a {
		color: var(--color-text-primary);
		text-decoration: none;
	}

	code {
		font-family: inherit;
	}
}

/* Date */

.news-article__date {
	color: var(--color-text-secondary);
}

/* Cover */

.news-article__cover {
	@media (width >= 1024px) {
		grid-area: cover;
	}

	img {
		display: block;
		outline: 1px solid var(--color-border-secondary);
		outline-offset: -1px;
		background-color: var(--color-background-secondary);
	}
}

/* Tags */

.news-article__tags {
	margin: 0;

	a {
		color: var(--color-text-link);
	}

	@media (width >= 1024px) {
		grid-area: tags;
	}
}
