/* News Card */

.news-card {
	position: relative;
	overflow: hidden;
	outline: 1px solid var(--color-border-secondary);
	border-radius: 0.5rem;
	background-color: var(--color-background-primary);

	&[data-featured] {
		grid-column: span 2;

		/* cards (288px x 2) + gaps (16px x 3) = 624px */

		@media (width < 624px) {
			grid-column: span 1;
		}
	}

	&:hover {
		outline-color: var(--color-border-action);
	}

	img {
		display: block;
		outline: 1px solid var(--color-border-secondary);
		background-color: var(--color-background-secondary);
	}
}

/* Content */

.news-card__content	{
	display: grid;
	align-content: start;
	row-gap: 0.5rem;
	padding: 0.75rem;

	time {
		color: var(--color-text-secondary);
	}

	h2,
	h3 {
		margin: 0;
		text-wrap: balance;
		font-weight: normal;
		font-size: 1.5rem;
		font-stretch: expanded;

		a {
			color: var(--color-text-action);
			text-decoration: none;

			&::before {
				position: absolute;
				inset: 0;
				content: '';
			}
		}

		code {
			font-family: inherit;
		}
	}

	p {
		margin: 0;
		line-height: 1.5;
	}
}
