/* News Card */

.news-card {
	position: relative;
	display: grid;
	row-gap: 0.5rem;

	img {
		outline: 1px solid var(--color-border-secondary);
		outline-offset: -1px;
		background-color: var(--color-background-secondary);
	}

	time {
		color: var(--color-text-secondary);
	}

	h2 {
		margin: 0;
		text-wrap: balance;
		font-weight: normal;
		font-stretch: expanded;

		a {
			color: var(--color-text-action);
			text-decoration: none;

			&::before {
				position: absolute;
				inset: 0;
				content: '';
			}
		}

		code {
			font-family: inherit;
		}
	}
}
