/* News Card */

.news-card {
	position: relative;
	display: grid;
	align-content: start;
	row-gap: 0.5rem;

	&[data-featured] {
		grid-column: span 2;

		/* cards (288px x 2) + gaps (16px x 3) = 624px */

		@media (width < 624px) {
			grid-column: span 1;
		}
	}

	img {
		outline: 1px solid var(--color-border-secondary);
		outline-offset: -1px;
		background-color: var(--color-background-secondary);
	}

	time {
		color: var(--color-text-secondary);
	}

	h2,
	h3 {
		margin: 0;
		text-wrap: balance;
		font-weight: normal;
		font-size: 1.5rem;
		font-stretch: expanded;

		a {
			color: var(--color-text-action);
			text-decoration: none;

			&::before {
				position: absolute;
				inset: 0;
				content: '';
			}
		}

		code {
			font-family: inherit;
		}
	}

	p {
		margin: 0.5rem 0 0;
		line-height: 1.5;
	}
}
