/* Pagination */

.pagination {
	display: flex;
	column-gap: 2px;
	/*justify-content: center;*/

	a,
	span {
		display: grid;
		place-items: center;
		padding-block: 0.5rem;
		width: 2.25rem;
		border-radius: 0.5rem;
		text-decoration: none;
	}

	a {
		color: var(--color-text-action);

		&[aria-current='page'] {
			outline: 1px solid var(--color-border-secondary);
			background-color: var(--color-background-primary);
		}

		&:hover {
			outline: 1px solid var(--color-border-action);
			color: var(--color-text-action-hover);
		}
	}

	span {
		width: 1.25rem;
		color: var(--color-text-secondary);
	}
}
