/* Pagination */

.pagination {
	display: flex;
	justify-content: center;

	a,
	span {
		display: grid;
		place-items: center;
		padding-block: 0.5rem;
		width: 2.25rem;
		text-decoration: none;

		&:first-child,
 		&:last-child {
			&::before {
				width: 1.25rem;
				height: 1.25rem;
				background-color: var(--color-text-action);
				mask-size: contain;
				content: '';
			}
		}

		&:first-child {
			&::before {
				mask-image: url('../../images/icons/chevron-left.svg');
			}
		}

		&:last-child {
			&::before {
				mask-image: url('../../images/icons/chevron-right.svg');
			}
		}
	}

	a {
		color: var(--color-text-action);
		transition: background-color 0.2s linear;

		&:hover,
		&[aria-current='page'] {
			background-color: var(--color-background-action);
		}
	}

	span {
		&:first-child,
 		&:last-child {
			&::before {
				background-color: var(--color-text-secondary);
			}
		}
	}
}
