/* Pagination */

.pagination {
	display: flex;
	justify-content: center;

	a {
		padding: 0.5rem 1rem;
		color: var(--color-text-link);
		text-decoration: none;

		&:hover {
			background-color: var(--color-background-link);
		}

		&[rel] {
			padding-inline: 0.5rem;

			&::before {
				display: grid;
				margin: auto;
				width: 1.25rem;
				height: 1.25rem;
				background-color: var(--color-text-link);
				mask-size: contain;
				content: '';
			}
		}

		&[rel='prev'] {
			&::before {
				mask-image: url('../../images/icons/chevron-left.svg');
			}
		}

		&[rel='next'] {
			&::before {
				mask-image: url('../../images/icons/chevron-right.svg');
			}
		}

		&[aria-current='page'] {
			background-color: var(--color-background-link);
			pointer-events: none;
		}
	}
}
