/* Search */

.search {
	--search-height: 2.5rem;

	position: relative;
	z-index: 1;
	height: var(--search-height);
}

/* Panel */

.search__panel {
	position: absolute;
	inset: 0 0 auto 0;
	overflow-x: hidden;
	border: 1px solid var(--color-border-secondary);
	border-radius: calc(var(--search-height) / 2);
	background: var(--color-background-primary);

	&:has([aria-expanded="true"]) {
		box-shadow: 0 0 0 100vw var(--color-background-overlay);
	}

	&:hover {
		border-color: var(--color-border-primary);
		transition: border-color 0.2s linear;
	}

	&:focus-within {
		outline: 2px solid var(--color-border-action);
		outline-offset: -1px;
	}
}

/* Input */

.search__input {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0 1rem;
	width: 100%;
	height: var(--search-height);
	border: none;
	background-color: transparent;

	&::placeholder {
		color: var(--color-text-secondary);
	}

	&:focus-visible {
		outline: none;
	}

	&[aria-expanded="true"] {
		box-shadow: 0 0.5rem 1rem light-dark(
			oklch(from var(--gray-950) l c h / 20%),
			transparent
		);
	}
}

/* Clear */

.search__clear {
	position: absolute;
	inset: 0.25rem 0.25rem auto auto;
	z-index: 1;
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0;
	width: 2rem;
	height: 2rem;
	border: none;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;

	&:hover {
		background-color: var(--color-background-secondary);
	}

	&::before {
		width: 1.25rem;
		height: 1.25rem;
		background-color: var(--color-text-primary);
		mask-image: url('../../images/icons/x.svg');
		mask-size: contain;
		content: '';
	}
}

/* Results */

.search__results {
	display: grid;
	margin: 0;
	padding: 0;
	overflow: auto;
	overscroll-behavior: contain;

	@media (width < 690px) {
		max-height: calc(100svh - 9rem);
	}

	@media (width >= 690px) {
		max-height: 50vh;
	}

	li {
		position: relative;
		display: grid;
		row-gap: 0.25rem;
		padding: 0.75rem 1rem 1rem;

		&:hover {
			background-color: var(--color-background-secondary);
		}

		&:focus-within {
			z-index: 1;
			outline: 2px solid var(--color-border-action);
			background-color: var(--color-background-action);
		}
	}

	a {
		color: inherit;
		text-decoration: none;
		font-weight: bold;

		&:focus-visible {
			outline: none;
		}

		&::before {
			position: absolute;
			inset: 0;
			content: '';
		}
	}

	p {
		margin: 0;
	}

	mark {
		padding: 0.0625em 0.25em;
		background-color: var(--color-background-highlight);
		color: var(--color-text-primary);
	}
}
