/* Global */

*,
::before,
::after {
	box-sizing: border-box;
}

input,
button,
textarea,
select {
	color: inherit;
	font: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

[hidden] {
	display: none !important;
}
