{% from 'news-card.njk' import newsCard %}

<div class="archive">
	<h1 class="archive__title">{{ title }}</h1>
	<ul class="news-list">
	{%- for item in yearData.items %}
		<li>
			{{ newsCard(news=item) }}
		</li>
	{%- endfor %}
	</ul>
</div>

{%- if yearData.totalPages > 1 %}
<nav class="pagination" aria-label="News">
	{%- if yearData.pageNumber > 0 %}
	<a
		href="/news/{{ yearData.year }}/{% if yearData.pageNumber > 1 %}page/{{ yearData.pageNumber }}/{% endif %}"
		aria-label="Previous page"
		rel="prev"
	></a>
	{%- endif %}
	{%- for i in range(0, yearData.totalPages) %}
	{%- set pageHref = '/news/' + yearData.year + '/' + ('page/' + (i + 1) + '/' if i > 0 else '') %}
	<a
		href="{{ pageHref }}"
		aria-label="Page {{ i + 1 }}"
		{% if i == yearData.pageNumber %}aria-current="page"{% endif %}
	>
		{{ i + 1 }}
	</a>
	{%- endfor %}
	{%- if yearData.pageNumber < yearData.totalPages - 1 %}
	<a
		href="/news/{{ yearData.year }}/page/{{ yearData.pageNumber + 2 }}/"
		aria-label="Next page"
		rel="next"
	></a>
	{%- endif %}
</nav>
{%- endif %}
