{% from 'news-card.njk' import newsCard %}

<div class="archive">
	<section class="archive__section">
		<header class="archive__header">
			<h2 class="archive__title">
				All news
			</h2>
			<a class="archive__link" href="/news/">
				Archive
				<span>({{ collections.news | length }})</span>
			</a>
		</header>
		<ul class="news-list" data-size="8">
		{%- for item in collections.news | reverse | limit(7) %}
			<li class="news-list__item">
				{{ newsCard(news=item, level=3, fetchpriority='high', featured=loop.first) }}
			</li>
		{%- endfor %}
		</ul>
	</section>

{%- for tag in ['html', 'css', 'js', 'a11y'] %}
	<section class="archive__section">
		<header class="archive__header">
			<h2 class="archive__title">
				{{ labels[tag] }} news
			</h2>
			<a class="archive__link" href="/tags/{{ tag }}/">
				Archive
				<span>({{ collections[tag] | length }})</span>
			</a>
		</header>
		<ul class="news-list" data-size="8">
		{%- for item in collections[tag] | reverse | limit(7) %}
			<li class="news-list__item">
				{{ newsCard(news=item, level=3, featured=loop.first) }}
			</li>
		{%- endfor %}
		</ul>
	</section>
{%- endfor %}
</div>
