{% from 'news-card.njk' import newsCard %}

<div class="archive">
	<h1 class="archive__title">News with the “{{ tag }}” tag</h1>
	<ul class="news-list">
	{%- for item in collections[tag] | reverse %}
		<li>
			{{ newsCard(news=item) }}
		</li>
	{%- endfor %}
	</ul>
</div>
