<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.domain }}" xml:lang="{{ meta.language }}">
	<title>{{ meta.title }}</title>
	<subtitle>{{ meta.subtitle }}</subtitle>
	<link href="{{ meta.domain }}"/>
	<link href="{{ meta.domain + '/feed/' }}" rel="self"/>
	<updated>{{ collections.news | getNewestCollectionItemDate | dateToRfc3339Cet }}</updated>
	<id>{{ meta.domain }}/</id>
	<author>
		<name>{{ meta.author }}</name>
		<email>{{ meta.email }}</email>
	</author>
	{%- for item in collections.news | reverse | limit(25) %}
		<entry>
			<title>{{ item.data.title | plainText | safe }}</title>
			<link href="{{ meta.domain + item.url }}"/>
			<updated>{{ item.date | dateToRfc3339Cet }}</updated>
			<id>{{ meta.domain + item.url }}</id>
			<content type="html">
&lt;img src="{{ meta.domain + item.url }}cover.avif" width="1920" height="1080" alt="{{ item.data.alt | plainText }}"&gt;
{{ item.templateContent -}}
{% if item.data.links.length == 1 -%}
&lt;p&gt;{{ item.data.links[0] | markdownInline | e }}&lt;/p&gt;
{% else -%}
&lt;ul&gt;
{% for link in item.data.links -%}
	&lt;li&gt;{{ link | markdownInline | e }}&lt;/li&gt;
{% endfor -%}
&lt;/ul&gt;
{% endif -%}
&lt;p&gt;
	You can also follow us on
	{% for link in social -%}
		&lt;a href="{{ link.url }}"&gt;{{ link.name }}&lt;/a&gt;
		{{- ', ' if not loop.last -}}
	{%- endfor %}
&lt;/p&gt;
			</content>
		</entry>
	{%- endfor %}
</feed>
