<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.domain }}" xml:lang="{{ meta.language }}">
	<title>{{ meta.title }}</title>
	<subtitle>{{ meta.subtitle }}</subtitle>
	<link href="{{ meta.domain }}"/>
	<link href="{{ meta.domain + '/feed/' }}" rel="self"/>
	<updated>{{ collections.news | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ meta.domain }}/</id>
	<author>
		<name>{{ meta.author }}</name>
		<email>{{ meta.email }}</email>
	</author>
	{%- for item in collections.news | limit(25) %}
		<entry>
			<title>{{ item.data.title }}</title>
			<link href="{{ meta.domain + item.url }}"/>
			<updated>{{ item.date | dateToRfc3339 }}</updated>
			<id>{{ meta.domain + item.url }}</id>
			<content type="html">
&lt;img src="{{ meta.domain + item.url }}cover.avif" width="1920" height="1080" alt="{{ item.data.alt }}"&gt;
{{ item.templateContent -}}
&lt;p&gt;
	&lt;a href="{{ item.data.link }}"&gt;
		{{- item.data.link | stripURL -}}
	&lt;/a&gt;
&lt;/p&gt;
&lt;p&gt;
	You can also follow us on
	{% for link in social -%}
		&lt;a href="{{ link.url }}"&gt;{{ link.name }}&lt;/a&gt;
		{{- ', ' if not loop.last -}}
	{%- endfor %}
&lt;/p&gt;
			</content>
		</entry>
	{%- endfor %}
</feed>
