---
layout: page.njk
permalink: /index.html
---

<ul>
{%- for item in collections.news %}
	<li>
		<a href="{{ item.url }}">
			{{- item.data.title -}}
		</a>
		<time datetime="{{ item.date | dateISO }}">
			{{- item.date | dateShort -}}
		</time>
	</li>
{%- endfor %}
</ul>
