---
layout: page.njk
permalink: /index.html
---

<ul>
{%- for item in collections.news %}
	<li>
		<article class="news-card">
			<a href="{{ item.url }}">
				{{- item.data.title -}}
			</a>
			<time datetime="{{ item.date | dateISO }}">
				{{- item.date | dateShort -}}
			</time>
		</article>
	</li>
{%- endfor %}
</ul>
