{% from 'news-card.njk' import newsCard %}

<div class="archive">
	<h1 class="archive__title">{{ title }}</h1>
	<ul class="news-list">
	{%- for item in monthData.items %}
		<li>
			{{ newsCard(news=item) }}
		</li>
	{%- endfor %}
	</ul>
</div>

{%- if monthData.totalPages > 1 %}
<nav class="pagination" aria-label="News">
	{%- if monthData.pageNumber > 0 %}
	<a
		href="/news/{{ monthData.year }}/{{ monthData.month }}/{% if monthData.pageNumber > 1 %}page/{{ monthData.pageNumber }}/{% endif %}"
		aria-label="Previous page"
		rel="prev"
	></a>
	{%- endif %}
	{%- for i in range(0, monthData.totalPages) %}
	{%- set pageHref = '/news/' + monthData.year + '/' + monthData.month + '/' + ('page/' + (i + 1) + '/' if i > 0 else '') %}
	<a
		href="{{ pageHref }}"
		aria-label="Page {{ i + 1 }}"
		{% if i == monthData.pageNumber %}aria-current="page"{% endif %}
	>
		{{ i + 1 }}
	</a>
	{%- endfor %}
	{%- if monthData.pageNumber < monthData.totalPages - 1 %}
	<a
		href="/news/{{ monthData.year }}/{{ monthData.month }}/page/{{ monthData.pageNumber + 2 }}/"
		aria-label="Next page"
		rel="next"
	></a>
	{%- endif %}
</nav>
{%- endif %}
