{% from 'news-card.njk' import newsCard %}

<main class="filter">
	<h1 class="filter__title">
		{{ title }}
	</h1>
	{% set currentTag = tagPage.tag if tagPage else '' %}
	{% include 'filter.njk' %}
	<div class="filter__content">
		<ul class="news-list">
		{%- for item in newsPage.pagination.items %}
			<li class="news-list__item">
				{{ newsCard(news=item, level=2, fetchpriority='high' if loop.index <= 4 else '') }}
			</li>
		{%- endfor %}
		</ul>
	</div>
	<div class="filter__pagination">
		{% set pagination = newsPage.pagination %}
		{% include 'pagination.njk' %}
	</div>
</main>