@import 'dewi.css';
@import 'jetbrains-mono.css';

/* Font */

:root {
	--font-family-heading: 'Dewi', sans-serif;
	--font-family-text: system-ui, sans-serif;
	--font-family-code: 'JetBrains Mono', monospace;
}
