---
layout: page.njk
---

{% from 'cover.njk' import cover %}
{% from 'related.njk' import related %}

{% set coverSizes = '(min-width: 1232px) 592px, (min-width: 1024px) calc(50vw - 3rem), calc(100vw - 2rem)' %}

<main class="news-article">
	<header class="news-article__header">
		<h1 class="news-article__title" data-pagefind-body>
			{{- title | markdownInline | safe -}}
		</h1>
		<time class="news-article__date" datetime="{{ date | dateISO }}">
			{{- date | dateLong -}}
		</time>
	</header>

	{{ cover(
		class='news-article__cover',
		url=page.url,
		sizes=coverSizes,
		fetchpriority='high',
		alt=alt
	) }}

	<div class="news-article__content content" data-pagefind-body>
		{{ content | safe }}
		<p>
			<a href="{{ link }}" target="_blank">
				{{- link | stripURL -}}
			</a>
		</p>
	</div>

	<p class="news-article__tags">
		<span>Tags</span>
	{% for tag in tags | sort %}
		<a href="/tags/{{ tag }}/">
			{{- tag -}}
		</a>
	{% endfor %}
	</p>
</main>

{{ related(
	news=collections.news | reverse | relatedByTags(page.url, tags) | limit(8)
) }}
