---
layout: page.njk
---

{% from 'cover.njk' import cover %}
{% from 'related.njk' import related %}

{% set coverSizes = '(min-width: 1232px) 592px, (min-width: 1024px) calc(50vw - 3rem), calc(100vw - 2rem)' %}

<div class="news">
	<header class="news__header">
		<h1 class="news__title">
			<a href="{{ page.url }}">
				{{- title -}}
			</a>
		</h1>
		<time class="news__date" datetime="{{ date | dateISO }}">
			{{- date | dateLong -}}
		</time>
	</header>

	{{ cover(
		class='news__cover',
		url=page.url,
		sizes=coverSizes,
		fetchpriority='high',
		alt=alt
	) }}

	<div class="news__content content">
		{{ content | safe }}
		<p>
			<a href="{{ link }}" target="_blank">
				{{- link | stripURL -}}
			</a>
		</p>
	</div>

	<p class="news__tags">
		Tags:
	{% for tag in tags %}
		<a href="/tags/{{ tag }}/">
			{{- tag -}}
		</a>
		{{- ", " if not loop.last -}}
	{% endfor %}
	</p>
</div>

{{ related(
	news=collections.news | relatedByTags(page.url, tags) | limit(6)
) }}
