---
layout: page.njk
---

<h1>{{ title }}</h1>
<time>{{ date }}</time>

<img src="{{ page.url }}cover.avif" width="960" height="540" alt="{{ alt }}">

<p>
	{% for tag in tags %}
		<a href="/tags/{{ tag }}/">{{ tag }}</a>
	{% endfor %}
</p>

{{ content | safe }}
