<!DOCTYPE html>
<html class="page" lang="{{ meta.language }}">
<head>
	<meta charset="utf-8">
	<title>{{ (title + ' — ') if title }}{{ meta.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/styles/index.css">

	<link rel="preload" href="/fonts/dewi-regular-latin.woff2" crossorigin as="font" type="font/woff2">
	<link rel="preload" href="/fonts/dewi-expanded-regular-latin.woff2" crossorigin as="font" type="font/woff2">
	<link rel="preload" href="/fonts/dewi-expanded-bold-latin.woff2" crossorigin as="font" type="font/woff2">

	<link rel="canonical" href="{{ meta.domain + page.url }}">
	<link rel="me" href="https://mastodon.social/@webstandards_dev">
	<meta name="fediverse:creator" content="@webstandards_dev@mastodon.social">

	<meta name="description" content="{{ meta.subtitle }}">
	<meta name="generator" content="{{ eleventy.generator }}">

	<link rel="alternate" type="application/atom+xml" href="{{ meta.domain }}/feed/" title="{{ meta.title }}">
</head>
<body class="page__body">
	<header class="header">
		<a class="header__logo" href="/">
			<img
				class="header__image"
				src="/images/logo.svg"
				width="48" height="48"
				alt="Web Standards logo"
			>
			{% if page.url == '/' %}
				<h1 class="header__title">{{ meta.title }}</h1>
			{% else %}
				<p class="header__title">{{ meta.title }}</p>
			{% endif %}
			<p class="header__subtitle">{{ meta.subtitle }}</p>
		</a>
		<ul class="header__links">
			<li><a data-social="mastodon" href="https://mastodon.social/@webstandards_dev" aria-label="Mastodon" rel="me"></a></li>
			<li><a data-social="bluesky" href="https://bsky.app/profile/web-standards.dev" aria-label="Bluesky"></a></li>
			<li><a data-social="x" href="https://x.com/webstandardsdev" aria-label="X"></a></li>
			<li><a data-social="rss" href="/feed/" aria-label="RSS feed"></a></li>
		</ul>
	</header>

	<main class="main">
		{{ content | safe }}
	</main>

	<footer class="footer">
		<a href="https://github.com/web-standards/web-standards.dev">
			Source code
		</a>
		<a href="mailto:hi@web-standards.dev">
			hi@web-standards.dev
		</a>
		<a href="https://www.11ty.dev/">
			Powered by 11ty
		</a>
	</footer>
</body>
</html>
