{% set pageTitle = (title + ' — ' if title else '') + meta.title %}
{% set pageDescription = description if description else meta.subtitle %}
{% set pageURL = meta.domain + page.url %}
{% set pageCover = meta.domain + (page.url + 'cover.jpeg' if page.url.startsWith('/news/') else '/images/cover.png') %}

<!DOCTYPE html>
<html class="page" lang="{{ meta.language }}">
<head>
	<meta charset="utf-8">
	<title>{{ pageTitle }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/styles/index.css">

	<link rel="preload" href="/fonts/dewi-regular-latin.woff2" crossorigin as="font" type="font/woff2">
	<link rel="preload" href="/fonts/dewi-expanded-regular-latin.woff2" crossorigin as="font" type="font/woff2">
	<link rel="preload" href="/fonts/dewi-expanded-bold-latin.woff2" crossorigin as="font" type="font/woff2">

	<link rel="canonical" href="{{ pageURL }}">
	<link rel="me" href="https://mastodon.social/@webstandards_dev">
	<meta name="fediverse:creator" content="@webstandards_dev@mastodon.social">

	<meta name="description" content="{{ pageDescription }}">
	<meta name="generator" content="{{ eleventy.generator }}">

	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ pageTitle }}">
	<meta property="og:description" content="{{ pageDescription }}">
	<meta property="og:url" content="{{ pageURL }}">

	<meta property="og:image" content="{{ pageCover }}">
	<meta property="og:image:width" content="1920">
	<meta property="og:image:height" content="1080">

	<link rel="alternate" type="application/atom+xml" href="{{ meta.domain }}/feed/" title="{{ meta.title }}">
</head>
<body class="page__body">
	<header class="header">
		<a class="header__logo" href="/">
			<img
				class="header__image"
				src="/images/logo.svg"
				width="48" height="48"
				alt="Web Standards logo"
			>
			{% if page.url == '/' %}
				<h1 class="header__title">{{ meta.title }}</h1>
			{% else %}
				<p class="header__title">{{ meta.title }}</p>
			{% endif %}
			<p class="header__subtitle">{{ meta.subtitle }}</p>
		</a>
		<ul class="header__links">
			{% for link in social %}
			<li>
				<a
					data-social="{{ link.name | lower }}"
					href="{{ link.url }}"
					aria-label="{{ link.label }}"
					{{'rel="' + link.rel + '"' if link.rel }}
				></a>
			</li>
			{% endfor %}
			<li><a data-social="rss" href="/feed/" aria-label="RSS feed"></a></li>
		</ul>
	</header>

	<main class="main">
		{{ content | safe }}
	</main>

	<footer class="footer">
		<a href="https://github.com/web-standards/web-standards.dev">
			Source code
		</a>
		<a href="mailto:hi@web-standards.dev">
			hi@web-standards.dev
		</a>
		<a href="https://www.11ty.dev/">
			Powered by 11ty
		</a>
	</footer>
</body>
</html>
