/* Background */

:root {
	--color-background-primary: light-dark(
		var(--gray-50),
		var(--gray-950)
	);
	--color-background-primary-inverted: light-dark(
		var(--gray-950),
		var(--gray-50)
	);
	--color-background-secondary: light-dark(
		var(--gray-100),
		var(--gray-900)
	);
	--color-background-link: light-dark(
		var(--blue-200),
		var(--blue-900)
	);
}
