/* Harmony */

@import '../../../node_modules/@evilmartians/harmony/dist/css/blue.css';
@import '../../../node_modules/@evilmartians/harmony/dist/css/emerald.css';
@import '../../../node_modules/@evilmartians/harmony/dist/css/gray.css';

/* Functional */

@import 'background.css';
@import 'border.css';
@import 'text.css';

/* Scheme */

:root {
	color-scheme: light dark;
}
