@import 'background.css';
@import 'text.css';
@import 'link.css';

/* Scheme */

:root {
	color-scheme: light dark;
}

/* Basic */

:root {
	--color-basic-100: #ffffff;
	--color-basic-200: #f0f1f2;
	--color-basic-300: #d4d7d9;
	--color-basic-400: #8b9399;
	--color-basic-500: #4a5559;
	--color-basic-600: #1a2428;
	--color-basic-700: #000000;
}

/* Special */

:root {
	--color-lime: #c6f523;
	--color-pear: #afe63a;
	--color-moss: #81c36d;
	--color-teal: #61afb4;
	--color-aqua: #61afb4;
	--color-azure: #3b84bb;
	--color-navy: #386d9b;
}
